body {
  font-family: "firaLight";
  height: 100%;
  overflow-x: hidden;
}

.nav {
  font-family: "firaBold";
  letter-spacing: 0.05em;
  line-height: 1.5em;
  background-color: white;
  position: fixed;
  /* fixe la position du menu */
  width: 100%;
  /* utilise 100% de la largeur de la fenêtre */
  column-count: 3;
  top: 55px;
  column-gap: 80px;
  padding-bottom: 15px;
  padding-top: 40px;
  border-top: 0.07rem black solid;
  border-bottom: 0.07rem black solid;
}

.nav a {
  color: #191970;
  text-decoration: none;
  margin-left: 20px;
}

.nav a:hover {
  color: blue;
  letter-spacing: 0.15em;
}

.nav2 {
  font-family: "firaBold";
  letter-spacing: 0.05em;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 0.07rem black solid;
}

.nav2 a {
  color: black;
  font-size: 35px;
  margin-left: 25px;
  text-decoration: none;
}

.section {
  margin-top: 175px;
  /* Add a top margin to avoid content overlay */
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.main {
  margin-left: 2%;
}

.one {
  font-family: "firaLight";
  color: black;
  /*border-top: 0.07rem black solid;*/
  /*margin-top: 22px;*/
  margin-left: 1%;
  font-size: 1.15em;
  line-height: 1.45em;
  letter-spacing: 0.025em;
  text-align: left;
  padding-left: 20px;
  /*padding-right: 50%;*/
}

.sectionSpec {
  margin-top: 175px;
  /* Add a top margin to avoid content overlay */
}

.specimen {
  font-family: "firaLight";
  font-size: 1.05em;
  line-height: 1.5em;
  letter-spacing: 0.025em;
  color: black;
  border-bottom: 0.07rem black solid;
  margin-left: 50px;

  text-align: left;
  margin-right: 200px;
  /*padding-right: 150px;*/
}


.titre {
  font-family: "firaLight";
  border-top: 0.07rem black solid;
  font-size: 15px;
  padding-top: 8px;
  color: black;
}


h1 {
  font-family: "firaBold";
  letter-spacing: 0.015em;
  color: blue;
  margin-bottom: 0px;
}

h3 {
  font-family: "firaBold";
  letter-spacing: 0.015em;
  color: blue;
  margin-bottom: 0px;
}

.sousTitre {
  font-family: "firaLightItalic";
  font-size: 1.5em;
  color: blue;
  margin-left: 25px;
  margin-top: 0px;
}

.citation {
  font-family: "firaLightItalic";
  letter-spacing: 0.05em;
  line-height: 1.25em;
  font-size: 1.75em;
  color: blue;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 50px;
}


a {
  /*font-family: "firaLight";*/
  line-height: 1.3em;
  color: black;
}

a:hover {
  font-family: "firaLight";
  color: blue;
}

.lien {
  margin-right: 220px;
}

input {
  text-decoration: none;
  border-style: dashed;
  margin-right: 200px;
}

/**
 * Font imports
 */

 @font-face {
     font-family: 'firaLight';
     src:url('../font/FiraSans-Light.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'firaLightItalic';
     src:url('../font/FiraSans-LightItalic.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'firaBold';
     src:url('../font/FiraSans-Bold.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'proto';
     src:url('../font/Proto.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'kuread';
     src:url('../font/KuRead.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }
